<section class="appstoreMetricsSection">

<h1 class="appStatsHeadline">App Performance Overview🚀</h1>

<div class="appStatsWrapper">
  <!-- Avg. Rating (left) -->
  <div class="appStatsItem">
    <div class="appStatsIcon">
      <i class="fas fa-star"></i>
    </div>
    <div class="appStatsInfo">
      <div class="appStatsValue">{{ site.rating_avg }}</div>
      <div class="appStatsLabel">Avg. Rating</div>
    </div>
  </div>

  <!-- Downloads (center) -->
  <div class="appStatsItem">
    <div class="appStatsIcon">
      <i class="fas fa-download"></i>
    </div>
    <div class="appStatsInfo">
      <div class="appStatsValue">{{ site.downloads }}</div>
      <div class="appStatsLabel">Downloads</div>
    </div>
  </div>

  <!-- Total Ratings (right) -->
  <div class="appStatsItem">
    <div class="appStatsIcon">
      <i class="fas fa-users"></i>
    </div>
    <div class="appStatsInfo">
      <div class="appStatsValue">{{ site.ratings }}</div>
      <div class="appStatsLabel">Total Ratings</div>
    </div>
  </div>
</div>
</section>
