<section class="internetPresenceSection">
  <h2 class="internetPresenceHeadline">We're all over the internet.</h2>

  <div class="internetGrid">
    <a href="https://appadvice.com/app/readhero-tbr-book-tracker/6450433398" class="internetGridItem">
      <img src="assets/internet_presence/appadvice.png" alt="Platform 1">
    </a>
    <a href="https://www.appgefahren.de/readhero-indie-app-hilft-euch-eure-buecher-zu-verwalten-und-gelesenes-besser-zu-erinnern-374333.html" class="internetGridItem">
      <img src="assets/internet_presence/appgefahren.png" alt="Platform 2">
    </a>
    <a href="https://www.iphone-blog.ch/2025/07/24/buecher-lesen-gedanken-festhalten-und-die-uebersicht-behalten-readhero-unterstuetzt-dabei/" class="internetGridItem">
      <img src="assets/internet_presence/iphoneBlogCH.png" alt="Platform 3">
    </a>
    <a href="https://www.producthunt.com/products/readhero" class="internetGridItem">
      <img src="assets/internet_presence/producthunt.png" alt="Platform 4">
    </a>
    <a href="https://www.sir-apfelot.de/readhero-iphone-app-fuer-lese-tracking-buch-bewertungen-notizen-und-mehr-66379/" class="internetGridItem">
      <img src="assets/internet_presence/apfelot.png" alt="Platform 5">
    </a>
    <a href="https://iphone.apkpure.com/app/readhero-remember-books/at.dennis-sima.readhero" class="internetGridItem">
      <img src="assets/internet_presence/apppure.png" alt="Platform 6">
    </a>
    <a href="https://www.toptool.app/en/product/readhero" class="internetGridItem">
      <img src="assets/internet_presence/toptool.png" alt="Platform 7">
    </a>
    <a href="https://macplanet.vn/readhero-cuoi-cung-cung-co-mot-ung-dung-theo-doi-sach-chuan-gu-danh-cho-ios" class="internetGridItem">
      <img src="assets/internet_presence/macplanet.png" alt="Platform 8">
    </a>
  </div>
</section>
